@{
    ViewData["Title"] = "Конфиденциальность";
}

<div class="container mt-4">
    <h2>@ViewData["Title"]</h2>
    <p>Автор проекта: Илья Казначеев</p>
    <p>Данный текст демонстрирует страницу конфиденциальности.</p>
</div>