@model AirportWebApp.Models.FlightEditViewModel

@{
    ViewData["Title"] = "Аэропорт. Удаление рейса";
}

<h2 class="mb-3">Удаление рейса</h2>

<form method="post" asp-action="Delete">
    <input type="hidden" asp-for="Id" />

    <div class="alert alert-danger">
        Вы действительно хотите удалить рейс <strong>@Model.FlightNumber</strong>?
    </div>

    <button type="submit" class="btn btn-danger">Удалить</button>
    <a asp-action="Index" class="btn btn-secondary">Отмена</a>
</form>
